.container{
    display: flex;
    flex-direction: row;
    
}
.flex{
    width: 100px;
    height: 200px;
    color: green;
    background-color: yellowgreen;
    margin: 5px;
}
.button{
    border: none;
    border-radius:10px ;
    font-size: xx-small;
   

}